<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <a class="btn btn-outline-success" [routerLink]="['/farmacia/cliente/cadastro']"   >Novo</a>
      <table class="table table-striped ">
        <thead >
          <br>
          <tr class="table-info">
            <th>Nº de Cliente</th>
            <th>Cliente</th>
            <th>BI</th>
            <th>Data de Nascimento</th>
            <th>(+244) Telefone</th>
            <th>Bairro</th>
            <th>Rua</th>
            <th>Data de Cadastro</th>
            <th>Estado</th>
            <th>Editar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of clientes" >
            <td>{{c?.numCliente}}</td>
            <td>{{c?.nome}}</td>
            <td>{{c?.bi}}</td>
            <td>{{c?.data_nac}}</td>
            <td>(+244) {{c?.telefone}}</td>
            <td>{{c?.bairro}}</td>
            <td>{{c?.rua}}</td>
            <td>{{c?.dataCadastro}}</td>
            <td [style.color]="c?.status? 'blue':'red'">{{c?.status? 'Activo': 'Inactivo'}}</td>
            <td><button class="btn btn-outline-warning" >Editar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>